body{
    background-image: url('https://webnews.bg/uploads/images/70/0370/270370/640x.jpg?_=1549990009');
    background-size:100% 100%;
    font-family: 'Lobster', cursive;
}
.img1{
    margin-right:auto;
    margin-left:auto;
    display:block;
    border-radius:100px;
}
.img2{
    margin-right:auto;
    margin-left:auto;
    display:block;
}
.a1{
    color:rgb(48, 131, 48);
    font-size: 50px;
    text-shadow:white 3px 3px 3px;
    padding:30px 20px;
    border-radius: 15px;
    text-decoration: none;
    margin:0px 560px;
}
.a2{
    color:white;
    background-color: black;
    text-transform: uppercase;
     text-decoration:none;
    font-size:35px;
    padding:10px 30px;
}
.a3{
    color:green;
    text-decoration: none;
    font-size:40px;
    margin:0 770px;
text-shadow: black 2px 2px 2px;
transition: 0.7s;
}
.a3:hover{
    background-color: black;
    padding: 6px 15px;
    border-radius: 20px;
    color:white;
    text-shadow: green 2px 2px 2px;
    transition: 0.7s;
}
.a4{
    color:green;
    text-decoration: none;
    transition: 0.7s;
}
.a4:hover{
    background-color: black;
    padding: 5px 15px;
    border-radius: 20px;
    color:white;
    text-shadow: green 2px 2px 2px;
    transition: 0.7s;
}
.a5{
    font-size:35px;
    text-decoration:none;
    color:black;
    background-color: green;
    padding:25px 25px;
    border-radius: 20px;
    margin:0 820px;
    transition:0.7s;
}
.a5:hover{
    background-color:black;
    color:green;
    transition:0.7s;
}
.container{
    animation-name: slideInLeft;
    animation-duration:0.7s;
}
b{
    font-size:65px;
    color:white;
}
iframe{
    margin-right:auto;
    margin-left:auto;
    display:block;
}
.p1{
    text-align:center;
    font-size:35px;
    color:white;
    padding:0 400px;
    font-family: 'Lora', serif;
}
.p2{
    text-align:center;
    font-size:35px; 
    color:white;
    padding:0 400px;
    font-family: 'Lora', serif;
}
@keyframes slideInLeft{
    from{
        transform:translateX(-1920px);
    }
    to{
        transform: translateX(0);
    }
}
