body{
    font-family: 'Lobster', cursive;
}
iframe{
    background-color:grey;
    padding:30px 30px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
h1{
    text-align:center;
}
.img1{
    position:absolute;
    }
